.todoContent {
  display: flex;
  align-items: center;
}

.todo:first-child .move-up,
.todo:last-child .move-down {
  cursor: not-allowed;
  color: lightgray;
  font-variation-settings: 'FILL' 0;
}

.todoItem, .menu, .time-span{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overdue {
  color: red;
}